@model Student
@{
    ViewData["Title"] = "Student Information";
    Layout = "_Simple";
}

<strong>From normal view</strong>
<h1>Student</h1>
<h5>Name: @Model.Name</h5>
<h5>Student Id: @Model.UniqueId</h5>

<strong>From partial view</strong>
<partial name="_SchoolObjectSimple"></partial>

